#navbar {
  z-index: 5;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100px;
  #logo_container {
    display: flex;
    align-items: center;
    cursor: pointer;
    #logo {
      height: 4rem;
      padding: 0 0 0 1rem;
    }
    #logo_title {
      margin: 0;
      font-size: 1.3rem;
      font-weight: 500;
      color: var(--gray);
      text-decoration: none;
      font-family: var(--clash);
      line-height: 0.8;
    }
  }
  #menu {
    display: flex;
    gap: 1rem;
    padding: 0 1rem 0 0;
    transition: all ease 0.5s;
    .nav_link {
      transition: transform ease 300ms;
      transform: translateY(-100%);
      font-size: 1.2rem;
      font-weight: 500;
      color: var(--gray);
      text-decoration: none;
      &:hover {
        color: #646cff;
      }
    }
  }
  #btn_menu {
    display: none;
  }
}

@media all and (max-width: 500px) {
  #navbar {
    position: fixed;
    #menu {
      position: absolute;
      align-content: center;
      justify-items: center;
      background-color: var(--gray);
      width: 100%;
      height: 55svh;
      top: 0;
      border-radius: 0 0 200px 200px;
      transform: translateY(-100%);
      padding: 0;
      .nav_link {
        font-size: 2rem;
        color: #fff;
        text-decoration: none;
        margin: auto;
        &:hover {
          color: #646cff;
        }
      }
      #btn_close_menu {
        position: absolute;
        display: block;
        background-color: #0093e0;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        margin: 0;
        bottom: 2rem;
      }
    }
    #btn_menu {
      display: block;
      background-color: #0093e0;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      margin: 0 1rem 0 0;
    }
  }
}
